.modal {
  display: none;
  font-size: 24px;
  /* display: flex; */
  /* opacity: 0.5; */
  position: fixed;
  z-index: 1000;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  /* background-color: black; */
  /* border: 2px solid orangered; */
  background-image: url('../images/bg_Dark.png');
  background-size: cover;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  transition-property: all;
}

.modal-content {
  background-color: rgb(0, 0, 0);
  position: relative;
  color: whitesmoke;
  margin: auto;
  padding: 0;
  /* width: 90%; */
  max-width: 1200px;
  text-align: justify;
  z-index: 1200;
}

.answers {
  /* border: 2px solid orange; */
  text-align: left;
  padding: 50px;
  margin-top: 50px;
  /* font-size: large; */
}

.choice {
  display: inline;
}
.button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}
/* .button:hover {
  background-color: #008cba;
  color: white;
} */

.button {
  border: 2px solid white;
  border-radius: 7px;
  display: inline;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.button-a {
  background-color: #9b4caf;
}
.button-b {
  background-color: #4c9baf;
}
.button-c {
  background-color: #af684c;
}
.button:hover {
  background-color: #000000;
  color: orangered;
  border: 2px solid orangered;
  cursor: pointer;
}
span {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  /* border:5px; */
}
#ainm {
  margin-left: 30%;
  width: 30%;
  border: 3px solid orangered;
  background-color: black;
  padding: 30px;
  color: orange;
}
.modal-icon {
  padding: 0;
  background-image: url('../images/geaga2.png');
  background-repeat: no-repeat;
  /* border: 2px solid red; */
  height: 150px;
  width: 400px;
  position: fixed;
  top: 3%;
  left: 45%;
  z-index: 6000;
  background-size: contain;
  animation: 3s breeze-skew infinite alternate ease-in-out;
}
.story {
  /* font-family: urchlo; */
  width: 100%;
  text-align: left;
  /* border: 2px solid blue; */
  margin: 10px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  transition-property: all;
}

.listen-to-tree {
  display: flex;
  /* align-content: center;
  justify-content: center;
  text-align: center; */
  /* border: 2px solid blue; */
}
#suile {
  position: absolute;
  top: 231px;
  left: 135px;
  z-index: 701;
  background-image: url('../images/suile.gif');
  height: 27px;
  width: 93px;
}
#geaga-portrait {
  display: none;
  top: 15%;
  left: 40%;
  z-index: 700;
  height: 353px;
  width: 348px;
  background-image: url('../images/geaga5.png');

  position: absolute;
}

.geaga-voices {
  text-align: left;
  display: none;
  position: fixed;
  z-index: 600;
  top: 10px;
  margin-left: 20%;
  color: rgb(162, 191, 235);
  margin-top: 10%;
  /* animation: linear !important; */
}

#geaga1 {
  /* color: rgb(255, 255, 255); */
  margin-top: 20%;
  /* animation-timing-function: linear !important; */
}

#geaga2 {
  margin-top: 15%;
  color: rgb(47, 113, 255);
}

#geaga3 {
  margin-top: 12%;
  color: rgb(238, 47, 255);
}

#geaga4 {
  margin-top: 9%;
  color: rgb(255, 172, 47);
}

#geaga5 {
  margin-top: 6%;
  color: rgb(255, 47, 47);
}

#geaga6 {
  margin-top: 3%;
  color: rgb(89, 255, 47);
}

.skulls {
  display: none;
  position: absolute;

  height: 100px;
  width: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  animation: 40s floaty infinite alternate ease-in-out;
}

#skull1 {
  background-image: url('../images/skull1.png');
  top: 25%;
  left: 75%;
}

#skull2 {
  background-image: url('../images/skull2.png');
  top: 45%;
  left: 15%;
}

#skull3 {
  background-image: url('../images/skull3.png');
  top: 65%;
  left: 35%;
}

#skull4 {
  background-image: url('../images/skull4.png');
  top: 65%;
  left: 65%;
}

#skull5 {
  background-image: url('../images/skull5.png');
  top: 15%;
  left: 5%;
}
@keyframes breeze-skew {
  from {
    transform: skew(5deg, 0deg);
  }

  to {
    transform: translate(-20deg, 0deg);
  }
}

@keyframes floaty {
  from {
    -webkit-transform: rotate(0deg) translateX(50px) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg) translateX(50px) rotate(-360deg);
  }
}
