#bg-land,
#bg-sea,
#county-map {
  /* border: 2px solid blue; */

  position: absolute;
  transition: all 0.5s ease-out;
  border: 1px solid goldenrod;

  /* border: 2px solid salmon; */
  /* margin-top: 20%; */
  height: 409px;
  width: 523px;
  background-repeat: no-repeat;
  background-size: cover;
}

@font-face {
  font-family: urchlo;
  src: url('../fonts/Urchlo\ Romhanach.ttf');
}
#back-to-counties {
  color: whitesmoke;
  top: 5%;
  left: 2%;
  position: fixed;
}
#back-to-counties:hover {
  color: yellow;
}
#bg-land {
  z-index: -10;
  background-image: url('../images/maps/coMaps/bgLand.png');
}
.container {
  position: relative;
  top: 200px;
}
#bg-sea {
  z-index: 10;
  opacity: 0.7;
  background-image: url('../images/maps/coMaps/bgSea.png');
}
#county-map {
  position: absolute;
  z-index: 20;
  background-image: url('../images/maps/coMaps/antrim.png');
  /* border: 3px solid green; */
}

#location-description {
  color: rgb(184, 168, 168);
  margin: 5px;
  text-align: center;
  font-size: 4em;
  font-family: urchlo;

  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}
#location-output {
  position: relative;
  pointer-events: none;
  font-display: center;
  background-color: rgba(10, 10, 10, 0.2);
  display: flex;
  border: 1px solid goldenrod;
  z-index: 500;
  padding: 10px;
  /* margin-bottom: 10%; */
  height: 120px;
  width: 80%;
  align-items: center;
  justify-content: center;
}

.map-pin {
  position: absolute;
  /* z-index: 500; */
  cursor: pointer;
  height: 50px;
  width: 50px;
  background-repeat: no-repeat;
}
.map-pin:hover {
  position: absolute;
  /* z-index: 500; */
  cursor: pointer;
  height: 50px;
  width: 50px;
  background-image: url('../images/maps/coMaps/pin2.png');
  background-repeat: no-repeat;
}

#map-pins {
  position: relative;
  display: block;
  top: -25px;
  left: -25px;
  opacity: 0;
  transition: opacity 0.5s ease-in;
}
#first-map-pin {
  top: 350px;
  left: 303px;
  z-index: 500;
  background-image: url('../images/maps/coMaps/pin1.png');
}

#second-map-pin {
  /* left: 353px; */
  /* top: 273px; */
  z-index: 501;
  background-image: url('../images/maps/coMaps/pin2.png');
}

#third-map-pin {
  /* left: 234px; */
  /* top: 5px; */
  z-index: 502;
  background-image: url('../images/maps/coMaps/pin3.png');
}

#fourth-map-pin {
  /* left: 275px; */
  /* top: 299px; */
  z-index: 503;
  background-image: url('../images/maps/coMaps/pin4.png');
}

#fifth-map-pin {
  /* left: 237px; */
  /* top: 201px; */
  z-index: 504;
  background-image: url('../images/maps/coMaps/pin5.png');
}

#sixth-map-pin {
  left: 0px;
  top: 0px;
  z-index: 505;
  background-image: url('../images/maps/coMaps/pin6.png');
}
