body {
  background-color: rgb(77, 74, 74);
  overflow: hidden;
}
@font-face {
  font-family: urchlo;
  src: url('../fonts/Urchlo Romhanach.ttf');
}
.container {
  padding-top: 10%;
  /* border: 3px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.eyes {
  height: 500px;
  width: 500px;
  /* border: 2px solid blue; */
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.selectedLv {
  height: 140px;
  width: 140px;
  background-repeat: no-repeat;
  color: wheat;
  transform: translateZ(60px);
  transition: all 0.4s ease;
  text-align: center;
}

#eye1 {
  background-image: url('../images/mapResources/a2.png');
  background-repeat: no-repeat;
  height: 110px;
  width: 110px;
  background-size: contain;
  position: absolute;
  top: 0px;
  left: 172px;
  transform: translateZ(20px);
}

#eye3 {
  background-image: url('../images/mapResources/a1.png');
  height: 110px;
  width: 110px;
  background-size: contain;

  background-repeat: no-repeat;
  position: absolute;
  top: 163px;
  left: 388px;
  transform: translateZ(20px);
}

#eye5 {
  background-image: url('../images/mapResources/a3.png');
  height: 110px;
  width: 110px;
  background-size: contain;

  background-repeat: no-repeat;
  position: absolute;
  top: 320px;
  left: 185px;
  transform: translateZ(20px);
}

#eye7 {
  background-image: url('../images/mapResources/a4.png');
  height: 110px;
  width: 110px;
  background-size: contain;

  background-repeat: no-repeat;
  position: absolute;
  top: 163px;
  left: -37px;
  transform: translateZ(20px);
}
#eire-map {
  position: absolute;
  transition: all 0.5s ease-out;
  z-index: -10;
  background-image: url('../images/mapResources/e.png');
  /* border: 2px solid salmon; */
  height: 500px;
  width: 400px;
  background-repeat: no-repeat;
  background-size: contain;
}
#circle {
  position: absolute;
  opacity: 0.5;

  z-index: -1;
  background-image: url('../images/mapResources/drawn-circle-vector-9.gif');
  /* border: 2px solid salmon; */
  height: 800px;
  width: 700px;
  background-repeat: no-repeat;
  background-size: contain;
}
.button-ring {
  position: relative;
  z-index: 50;
  height: 500px;
  width: 500px;
  /* border: 2px solid blue; */
}
#text-output {
  position: absolute;
  pointer-events: none;

  background-color: rgba(10, 10, 10, 0.2);
  display: flex;
  border: 1px solid goldenrod;

  height: 100px;
  width: 500px;
  align-items: center;
  justify-content: center;
}
.levelDescription {
  color: rgb(184, 168, 168);
  margin: 5px;
  text-align: center;
  font-size: 4em;
  font-family: urchlo;

  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}
#back-to-main-menu {
  display: none;
  position: absolute;
  z-index: 50;
}
#back-to-main-menu:hover {
  color: gainsboro;
}

.county {
  transition: all 0.5s ease-out;
  z-index: 400 !important;
}

#antrim {
  top: 7px;
  left: 351px;
  background-image: url('../images/mapResources/emblems/antrim.png');
}

#armagh {
  top: 288px;
  left: 366px;
  background-image: url('../images/mapResources/emblems/armagh.png');
}

#cavan {
  top: 388px;
  left: 122px;
  background-image: url('../images/mapResources/emblems/cavan.png');
}

#derry {
  top: -22px;
  left: 182px;
  background-image: url('../images/mapResources/emblems/derry.png');
}

#donegal {
  top: 170px;
  left: -27px;
  background-image: url('../images/mapResources/emblems/donegal.png');
}

#down {
  top: 170px;
  left: 404px;
  background-image: url('../images/mapResources/emblems/down.png');
}

#fermanagh {
  top: 308px;
  left: -10px;
  background-image: url('../images/mapResources/emblems/fermanagh.png');
}

#monaghan {
  top: 408px;
  left: 258px;
  background-image: url('../images/mapResources/emblems/monaghan.png');
}

#tyrone {
  top: 27px;
  left: 32px;
  background-image: url('../images/mapResources/emblems/tyrone.png');
}

.connachta,
.uladh,
.mumhain,
.laighean {
  display: none;
  height: 110px;
  width: 110px;
  background-size: contain;

  background-repeat: no-repeat;
  position: absolute;

  transform: translateZ(20px);
}
#galway {
  top: 0px;
  left: 172px;
  background-image: url('../images/mapResources/emblems/galway.png');
}
#leitrim {
  top: 94px;
  left: -40px;
  background-image: url('../images/mapResources/emblems/leitrim.png');
}
#mayo {
  top: 259px;
  left: 56px;
  background-image: url('../images/mapResources/emblems/mayo.png');
}
#roscommon {
  top: 312px;
  left: 271px;
  background-image: url('../images/mapResources/emblems/roscommon.png');
}
#sligo {
  top: 94px;
  left: 388px;
  background-image: url('../images/mapResources/emblems/sligo.png');
}

#clare {
  top: 15px;
  left: 71px;
  background-image: url('../images/mapResources/emblems/clare.png');
}

#cork {
  top: 309px;
  left: 71px;
  background-image: url('../images/mapResources/emblems/cork.png');
}

#kerry {
  top: 169px;
  left: -11px;
  background-image: url('../images/mapResources/emblems/kerry.png');
}

#limerick {
  top: 295px;
  left: 345px;
  background-image: url('../images/mapResources/emblems/limerick.png');
}

#tipperary {
  top: 15px;
  left: 317px;
  background-image: url('../images/mapResources/emblems/tipperary.png');
}

#waterford {
  top: 109px;
  left: 388px;
  background-image: url('../images/mapResources/emblems/waterford.png');
}

#carlow {
  top: 373px;
  left: 301px;
  background-image: url('../images/mapResources/emblems/carlow.png');
}
#dublin {
  top: 72px;
  left: 404px;
  background-image: url('../images/mapResources/emblems/dublin.png');
}
#kildare {
  top: 373px;
  left: 192px;
  background-image: url('../images/mapResources/emblems/kildare.png');
}
#kilkenny {
  top: 373px;
  left: 80px;
  background-image: url('../images/mapResources/emblems/kilkenny.png');
}
#laois {
  top: 305px;
  left: -21px;
  background-image: url('../images/mapResources/emblems/laois.png');
}
#longford {
  top: -15px;
  left: 80px;
  background-image: url('../images/mapResources/emblems/longford.png');
}
#louth {
  top: -15px;
  left: 303px;
  background-image: url('../images/mapResources/emblems/louth.png');
}
#meath {
  top: -60px;
  left: 191px;
  background-image: url('../images/mapResources/emblems/meath.png');
}
#offaly {
  top: 182px;
  left: -63px;
  background-image: url('../images/mapResources/emblems/offaly.png');
}
#westmeath {
  top: 72px;
  left: -22px;
  background-image: url('../images/mapResources/emblems/westmeath.png');
}
#wexford {
  top: 305px;
  left: 401px;
  background-image: url('../images/mapResources/emblems/wexford.png');
}
#wicklow {
  top: 185px;
  left: 450px;
  background-image: url('../images/mapResources/emblems/wicklow.png');
}
