

.rain
{
	height: 100vh;
	background: url('../images/rain.png');
	animation: rain .2s linear infinite;
}
.rain:before
{
    content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	/* background: #FFFFFF; */
	animation: lighting .3s linear infinite;
	opacity: 0;
}
@keyframes rain
{
	0%
	{
		background-position: 0% 100%;
	}
	100%
	{
		background-position: 5% 0%;
	}
}
@keyframes lighting
{
	0%
	{
		opacity: 0;
	}
	10%
	{
		opacity: 0;
	}
	11%
	{
		opacity: 1;
	}
	14%
	{
		opacity: 0;
	}
	20%
	{
		opacity: 0;
	}
	21%
	{
		opacity: 1;
	}
	24%
	{
		opacity: 0;
	}
	104%
	{
		opacity: 0;
	}
	
}

/* #constrain-rain{
	position:absolute;
	height: 267px;
	width: 904px;
	top:11%;
	left:17%;
	z-index:6000;
} */